<section [ngClass]="{ loading: !taskList.length }">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" placeholder="" />
      <input
        type="text"
        [(ngModel)]="item.task"
        [ngClass]="{ checked: item.checked }"
        placeholder=""
      />

      <button title="delete taks" (click)="deleteItemTaskList(i)">
        <img src="../../../../../assets/icon-trash.svg" alt="trash icon" />
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-itens (emitItemTaskList)="setItemTaskList($event)"></app-todo-input-add-itens>
<app-todo-button-delete-all
  *ngIf="taskList.length" (click)="deleteAllTaskList()"
></app-todo-button-delete-all>
