<section [ngClass]="{ loading: !taskList.length }">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" placeholder="teste" />
      <input
        type="text"
        [(ngModel)]="item.task"
        [ngClass]="{ checked: item.checked }"
        placeholder="teste2"
      />

      <button title="delete taks">
        <img src="../../../../../assets/icon-trash.svg" alt="trash icon" />
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all
  *ngIf="taskList.length"
></app-todo-button-delete-all>
